<div class="profile-card">
  <div class="profile-field">
    <span class="label">{{TextValue.USER_NAME}}</span>
    <span class="value">{{ userProfileService.userProfile()?.username }}</span>
  </div>

  <div class="profile-field">
    <span class="label">{{TextValue.FIRST_NAME}}</span>
    <span class="value">
      {{ userProfileService.userProfile()?.firstName }} 
    </span>
  </div>
  
  <div class="profile-field">
    <span class="label">{{TextValue.LAST_NAME}}</span>
    <span class="value">
      {{ userProfileService.userProfile()?.lastName }} 
    </span>
  </div>

  <div class="profile-field">
    <span class="label">{{TextValue.EMAIL_LABEL}}</span>
    <span class="value">{{ userProfileService.userProfile()?.email }}</span>
  </div>

  <div class="profile-field">
    <span class="label">{{TextValue.USER_ROLE}}</span>
    <span class="value">
      {{ UserRole[userProfileService.userProfile()?.role!] }}
    </span>
  </div>

  <div class="profile-field">
    <span class="label">Tech Stack</span>
    <span class="value">{{ userProfileService.userProfile()?.techStack }}</span>
  </div>
</div>