<main>
    <form [formGroup]="updateTaskAssignment">
        
        <app-dropdown
            [label]=TextValue.TASK_STATUS
            [placeholder]=TextValue.TASK_SELECT_STATUS
            [options]="statusOptions"
            [control]="updateTaskAssignment.get('status')">
        </app-dropdown>
    
        <div class="form-actions">
            <app-button
                [type]="ButtonType.SUBMIT"
                [isDisable]="updateTaskAssignment.invalid || isClicked()"
                [variant]="ButtonVarient.SAVE"
                (clicked)="onSubmit()">
                {{TextValue.UPDATE}}
            </app-button>
        </div>
    </form>
        
    
</main>