<main>
  <form [formGroup]="addTaskAssignment">

    <app-dropdown
      [label]="TextValue.TRAINEE"
      [placeholder]="TextValue.TASK_SELECT_TRAINEE"
      [options]="traineeOptions()"
      [control]="addTaskAssignment.get('traineeId')">
    </app-dropdown>

    <app-dropdown
      [label]="TextValue.MENTOR"
      [placeholder]="TextValue.TASK_SELECT_MENTOR"
      [options]="mentorOptions()"
      [control]="addTaskAssignment.get('mentorId')">
    </app-dropdown>

    <app-dropdown
      [label]="TextValue.TASK"
      [placeholder]="TextValue.TASK_SELECT_TASK"
      [options]="taskOptions()"
      [control]="addTaskAssignment.get('learningTaskId')">
    </app-dropdown>

    <app-input
      [label]="TextValue.TASK_ASSIGN_DATE"
      type="date"
      [control]="addTaskAssignment.get('assignedDate')">
    </app-input>

    <app-input
      [label]="TextValue.TASK_DUE_DATE"
      type="date"
      [control]="addTaskAssignment.get('dueDate')">
    </app-input>

    <app-dropdown
      [label]="TextValue.TASK_STATUS"
      [placeholder]="TextValue.TASK_SELECT_STATUS"
      [options]="statusOptions"
      [control]="addTaskAssignment.get('status')">
    </app-dropdown>

    <app-input
      [label]="TextValue.TASK_REMARK"
      type="text"
      [placeholder]="TextValue.TASK_REMARK"
      [control]="addTaskAssignment.get('remark')">
    </app-input>

    <div class="form-actions">
      <app-button
        [type]="ButtonType.SUBMIT"
        [variant]="ButtonVariant.SAVE"
        [isDisable]="addTaskAssignment.invalid || isClicked()"
        (clicked)="onSubmit()">
        Save
      </app-button>
    </div>

  </form>
</main>