<div class="login-page">
  <div class="theme-toggle-wrap">
    <app-theme-button />
  </div>

  <div class="login-card">
    <h2>Trainee Management</h2>
    <p class="subtitle">Log in to continue</p>

    <form [formGroup]="loginForm">
      
      <app-input
        label="Email"
        type="email"
        placeholder="you@example.com"
        autocomplete="email"
        [control]="loginForm.get('email')"
      />

      <app-input
        label="Password"
        type="password"
        placeholder="password"
        autocomplete="current-password"
        [control]="loginForm.get('password')"
      />

      <div class="form-actions">
        <app-button
          [type]="ButtonType.SUBMIT"
          [isDisable]="loginForm.invalid"
          (clicked)="onSubmit()">
          Login
        </app-button>
      </div>
    </form>
    
  </div>
</div>