<main>
    <form [formGroup]="updateTask">
        <app-input
            [label]="TextValue.TASK_TITLE"
            type="text"
            [placeholder]="TextValue.TASK_TITLE"
            [control]="updateTask.get('title')"
        />
        <app-input
            [label]="TextValue.TASK_DESCRIPTION"
            type="text"
            [placeholder]="TextValue.TASK_DESCRIPTION"
            [control]="updateTask.get('description')"
        />
        <app-input
            [label]="TextValue.TASK_TECHSTACK"
            type="email"
            [placeholder]="TextValue.TASK_TECHSTACK"
            [control]="updateTask.get('expectedTechStack')"
        />
        <app-input
            [label]="TextValue.TASK_DUE_DATE"
            type="date"
            [placeholder]="TextValue.TASK_DUE_DATE"
            [control]="updateTask.get('dueDate')"
        />
        
        <app-dropdown
            [label]="TextValue.TRAINEE_STATUS"
            placeholder="Select Status"
            [options]="statusOptions"
            [control]="updateTask.get('status')"
        />
    
        <div class="form-actions">
            <app-button
                [type]="ButtonType.SUBMIT"
                [isDisable]="updateTask.invalid || isClicked()"
                [variant]="ButtonVarient.SAVE"
                (clicked)="onSubmit()">
                {{TextValue.UPDATE}}
            </app-button>
        </div>
    </form>
        
    
</main>